.step-button {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 0.563rem;
  background-color: #D1D1D1;
  font-size: 1.438rem;
  font-weight: bold;
  color: white;
}
.step-button-active {
  background-color: #116DE5;
  color: white;
}
