:host {
  --swiper-pagination-color: #ec0973; /* Color del punto activo */
  --swiper-pagination-bullet-size: 14px; /* Tamaño de los puntos */
  --swiper-pagination-bullet-inactive-color: #c4c4c4; /* Color de los puntos inactivos */
  --swiper-pagination-bullet-inactive-opacity: 0.5; /* Opacidad */
}
