<img class="w-full aspect-square object-cover rounded-[0.4375rem]" src="https://placehold.co/200x200?text=Product" />
<span class="text-[0.75rem] text-black block truncate">Titolo prodotto che va fino Titolo prodotto che va fino Titolo prodotto che va fino</span>
<span class="truncate block">
  <span class="text-[1rem] text-[#EF3131] font-bold">155,99</span>
  <span class="text-[0.625rem] text-[#EF3131] font-bold">€/ATM </span>&nbsp;
  <span class="relative text-[0.625rem] text-[#717171] font-semibold italic before:absolute before:top-1/2 before:left-0 before:w-full before:border-t before:border-gray-400 before:-z-10">150 €/ATM</span>
</span>
<span class="text-[0.75rem] text-[#EF8500] font-bold block">12€ cashback</span>
<span class="flex justify-start items-center gap-1">
  <ion-icon name="passaparola-profile-star"></ion-icon>
  <span class="text-[0.75rem] text-[#000000] font-bold">4,7/5</span>
  <span class="text-[0.75rem] text-[#929292]">(508 recensioni)</span>
</span>
