<div class="bg-white flex flex-col gap-2 p-2 w-full border border-solid border-[#E1E1E1] rounded-[1rem]">
  <img [src]="''| imageEvent" class="w-full aspect-square object-cover rounded-[.938rem] p-1 border border-solid border-[#E1E1E1]"/>
  <label class="line-clamp-2">
    Nome completo prodotto che può andare addirittura in due righe
    Nome completo prodotto che può andare addirittura in due righe
    Nome completo prodotto che può andare addirittura in due righe
  </label>
  <label class="text-[#000000] font-semibold text-[0.875rem]"><span class="font-[900] text-[1.2rem]">182,99</span>&nbsp;€/ATM</label>
  <div class="flex flex-row gap-2">
    <label class="font-semibold text-[0.7rem]">cashback <span class="text-[0.8rem] font-[900] text-[#0088FF]">0,14</span></label>
    <label class="font-semibold text-[0.7rem]">PR <span class="text-[0.8rem] font-[900] text-[#FE8C0F]">0,82</span></label>
  </div>
  <button class="py-2 w-full bg-[#FE8C0F] text-white rounded-[3rem] font-bold">+ aggiungi</button>
</div>
