<app-header
  [border]="true"
  [backIcon]="true"
  [modalDismiss]="true"
></app-header>
<ion-content>


  <section class="w-full h-full">

        <div class="w-full h-full flex flex-col justify-evenly">
          <div class="flex flex-col justify-center">
            <div class="flex flex-row gap-1 justify-center items-center">
              <ion-icon
                *ngIf="isTicketOrProduct(voucher)"
                [src]="'assets/images/events/custom-icons/' + voucher.event?.processStatus + '.svg'">
              </ion-icon>

              <label
                class="font-semibold"
                *ngIf="isTicketOrProduct(voucher)"
                [ngClass]="{
                  'text-[#EF8500]': voucher.event?.processStatus == 'pending',
                  'text-[#41C837]': voucher.event?.processStatus == 'active',
                  'text-[#9B9EA7]': voucher.event?.processStatus == 'inactive',
                  'text-[#DB0000]': voucher.event?.processStatus == 'rejected'
                }"
              >{{ voucher.event?.processStatus }}</label>
            </div>

            <label class="font-bold text-[2rem] text-center">Dettagli biglietto</label>

            <label class="font-bold text-[3rem] text-center" *ngIf="isTicketOrProduct(voucher) && voucher.eventTicket">
              {{ voucher.price === 0 ? 'FREE' : ('€ ' + (voucher.price | number:'1.2-2')!.replace('.', ',')) }}
              <span class="text-[1.5rem]">ATM/€</span>
            </label>

            <div *ngIf="isTicketOrProduct(voucher) && voucher.eventProduct">
              <div *ngIf="!voucher.eventProduct.isFree && voucher.eventProduct.offerValue != 0" class="mb-auto ml-auto">
                <p *ngIf="voucher.eventProduct.discount" class="text-[3rem] m-0 relative before:bg-pink-600 before:content-[''] before:absolute before:top-1/2 before:left-0 before:w-full before:h-[2px] before:rotate-[-15deg] before:-translate-y-1/2">
                  € {{ (voucher.eventProduct.offerValue).toString().split('.')[0] || 0 }}.<span class="text-[1.5rem]">{{(voucher.eventProduct.offerValue).toString().split('.')[1] || 0}}</span>
                </p>
                <p class="text-[3rem] m-0 font-bold">€ {{ (voucher.eventProduct.offerPrice).toString().split('.')[0] || 0 }}.<span class="text-[1.5rem]">{{ (voucher.eventProduct.offerPrice).toString().split('.')[1] || 0 }}</span></p>
              </div>
              <p *ngIf="voucher.eventProduct.isFree || voucher.eventProduct.offerValue == 0" class="text-center font-bold text-[3rem] text-pink-600">FREE</p>
            </div>

            <label *ngIf="isTicketOrProduct(voucher)" class="font-[500] text-[1rem] text-center">Operazione effettuata il {{ voucher.purchaseDate| date:'dd/MM/yyyy' }}</label>
          </div>


          <ion-card class="rounded-[1rem] m-[1rem]">
            <ion-card-header class="text-[1rem] font-bold text-center">
              <label>Mostra questo QR code all'organizzatore dell'evento</label>
            </ion-card-header>
            <ion-card-content class="p-[1.5rem] pt-0 flex justify-center items-center">
              <app-qr-ticket [data]="voucher.id!"></app-qr-ticket>
            </ion-card-content>
          </ion-card>

        </div>


  </section>












</ion-content>
