<ion-content [fullscreen]="true">
  <app-temporal-img [img]="'assets/images/Our-Stores.png'"></app-temporal-img>
  <!-- <ion-card
    style="
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px -5px,
        rgba(0, 0, 0, 0.14) 0px 0px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 0px 0px;
    "
  >
    <ion-card-content style="padding-bottom: 50px">
      <ion-text>
        <span style="font-size: 19px">Scopri i grandi partner</span>
        <br />
        <span style="font-size: 19px; font-weight: bold"
          >e guadagna extra PR</span
        >
      </ion-text>
      <div style="margin-top: 5px">
        <ion-text style="font-size: 13px"
          >Questa selezione di negozi sono partner diretti che fanno parte del
          nostro gruppo e offrono più ricompense</ion-text
        >
      </div>
    </ion-card-content>
  </ion-card>
  <div style="position: absolute">
    <div style="display: flex; overflow: auto; margin-top: -60px; width: 100vw">
      <div style="width: 93px" *ngFor="let card of [1,2,3,4,5,6]">
        <ion-card
          style="
            width: 72px;
            height: 72px;
            background-color: #cccccc;
            border-radius: 12px;
            margin-bottom: 0;
          "
        >
        </ion-card>
        <div style="width: 100%; text-align: center">
          <ion-label style="font-size: 10px">12 Travel Emotions</ion-label>
        </div>
      </div>
    </div>
  </div>

  <ion-card
    style="
      border-radius: 15px;
      height: 96px;
      background-color: #cccccc;
      margin-top: 80px;
      box-shadow: none;
    "
  >
  </ion-card>

  <div style="display: flex; overflow: auto; width: 100vw">
    <div style="width: 93px" *ngFor="let card of [1,2,3,4,5,6]">
      <ion-card
        style="
          width: 72px;
          height: 72px;
          background-color: #cccccc;
          border-radius: 12px;
          margin-bottom: 0;
        "
      >
      </ion-card>
      <div style="width: 100%; text-align: center">
        <ion-label style="font-size: 10px">12 Travel Emotions</ion-label>
      </div>
    </div>
  </div>

  <ion-card
    style="
      border-radius: 15px;
      height: 96px;
      background-color: #cccccc;
      box-shadow: none;
    "
  >
  </ion-card> -->

  <!-- ***************** -->

  <!-- <div style="display: flex; overflow: auto; width: 100vw">
    <ion-card>
      <ion-card-header> </ion-card-header>
      <ion-card-content> </ion-card-content>
    </ion-card>
  </div> -->
</ion-content>
