<section class="willbuy-expiring">

  <div class="willbuy-expiring__header">
    <span class="willbuy-expiring__title">Willbuy popolari</span>
    <span class="willbuy-expiring__link" routerLink="/pages/jointlybuy/view-willbuys-popular" >vedi tutti</span>
  </div>

  <swiper-container #swiperWillbuyPopular class="willbuy-expiring__slider">
    <swiper-slide *ngFor="let willbuy of willbuys" class="willbuy-expiring__slide">
      <app-willbuy-card [willbuy]="willbuy"></app-willbuy-card>
    </swiper-slide>
  </swiper-container>
</section>
