.span-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}
.swiper-wrapper-container {
  width: 100%;
  overflow: hidden;
}
swiper-container {
  width: 100%;
  overflow: visible;
}
swiper-slide {
  width: 4.188rem !important;
  height: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .125rem;
}
.platform {
  width: 4.188rem;
  height: 4.188rem;
  border-radius: 0.688rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.platform-text {
  font-size: 0.688rem;
  font-weight: 600;
  color: black;
  text-align: center;
}
