<section class="px-[16px] my-[48px]">
  <section class="text-[11px] leading-[17px] mt-[5px]">
    {{ "SEAT.COMPONENT.WEB_ADDRESS.TITLE" | translate }}
  </section>

  <form
    [formGroup]="form"
    (ngSubmit)="onSave()"
    autocomplete="off"
    class="h-full relative"
  >
    <section class="mt-[10px]">
      <input
        #webAddress
        class="h-14 bg-white text-[0.938rem] leading-[1.063rem] border border-gray-300 text-gray-900 text-sm rounded-xl block w-full p-2.5 focus:outline-none focus:ring-1 focus:ring-gray-300"
        type="text"
        [placeholder]="'https://www.myshopexample.com' | translate"
        formControlName="webAddress"
        name="webAddress"
        autocomplete="off"
      />
      <div
        *ngIf="displayMessage.webAddress"
        class="text-red-400 text-[0.688rem] leading-[1.063rem]"
      >
        {{ displayMessage.webAddress }}
      </div>
    </section>

    <section
      class="flex flex-row justify-center items-center py-[22px] fixed bottom-[40px] gap-[20px] w-full left-0"
    >
      <section
        class="flex justify-center items-center w-[150px] py-[10px] rounded-full border-[2px] border-[#FF8000] border-solid text-[#FF8000] font-bold z-10"
        (click)="onCancel()"
      >
      {{ "SEAT.CANCEL" | translate }}
      </section>

      <button
        class="flex justify-center items-center w-[150px] py-[10px] rounded-full border-[2px] border-[#FF8000] border-solid bg-[#FF8000] text-white font-bold z-10"
        type="submit"
      >
        {{ "SEAT.SAVE" | translate }}
      </button>
    </section>
  </form>
</section>
