.main-container {
  overflow: auto;
  --background: #f9f9f9;

  &__card {
    box-shadow: none;
    background: transparent;

    &__header {
      text-align: center;
    }

    &__title1 {
      font-size: 1.688rem;
      font-weight: 300;
    }

    &__title2 {
      font-size: 1.688rem;
      font-weight: 600;
    }

    &__label-input {
      font-size: 0.688rem;
      color: #000000;
    }

    &__input {
      width: 100%;
      height: 2.625rem;
      border: solid 0.063rem #e1e1e1;
      border-radius: 0.438rem;
      background: #ffffff;

      input {
        border: none;
        width: 100%;
        height: 2.625rem;
        text-align: center;
        font-size: 0.875rem;
        padding: 0;
        background-color: transparent;
        text-align: left;
        padding-left: 5px;
      }
    }

    &__label-nfc-type {
      font-size: 0.875rem;
      color: #000000;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      ion-button {
        width: 14.25rem;
        height: 4.25rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.938rem;
        text-transform: none;
        --border-radius: 1.75rem;
        --background: #3cc3a2;
        --background-activated: #3cc3a2;
        --background-activated-opacity: 0;
        --background-focused: #3cc3a2;
        --background-focused-opacity: 0;
        --background-hover: #3cc3a2;
        --background-hover-opacity: 0;
      }
    }
  }

  &__divice {
    width: 10.188rem;
    height: 7.563rem;
    border-radius: 1.188rem;
    border: solid 0.063rem #e3e3e9;
    background: #ffffff;
    text-align: center;
    padding: 0.313rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__img {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 0.313rem;
      height: 4.375rem;
    }

    &__img-1 {
      width: 6.75rem;
      height: 4.375rem;
      border-radius: 0.375rem;
    }

    &__img-keychain {
      width: 3.75rem;
      height: 4.375rem;
      border-radius: 0.375rem;
    }

    &__icon-other {
      font-size: 1.875rem;
      color: #3cc3a2;
    }
  }

  &--p-l-0 {
    padding-left: 0;
  }

  &--p-r-0 {
    padding-right: 0;
  }

  &--f-z-14 {
    font-size: 0.875rem;
  }

  &--selected {
    border: solid 2px #3cc3a2;
  }

  ion-grid,
  ion-row {
    margin: 0;
    padding: 0;
  }
}
