<app-header
  [border]="true"
  [backIcon]="true"
  [modalDismiss]="true"
></app-header>
<ion-content [fullscreen]="true" class="main-container">
  <ion-card class="main-container__card">
    <ion-card-content>
      <form [formGroup]="formUserID" (ngSubmit)="getWalletByUserIdAndProg()">
        <ion-label>ID Wallet</ion-label>
        <ion-input
          formControlName="userID"
          name="userID"
          color="success"
          class="main-container__input"
          placeholder="{{ 'WALLET.WRITE_HERE' | translate }}"
        ></ion-input>

        <br />

        <div class="main-container__btn">
          <ion-button
            type="submit"
            class="main-container__button"
            expand="block"
            [disabled]="formUserID.invalid"
          >
            {{ "Continua" | translate }}
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
