<section class="container">

  <div class="div-container">
    <span class="block text-center text-[1.375rem] font-bold">Benvenuto in JointlyBuy</span>
    <span class="block text-center text-[0.938rem] font-bold italic">la prima piattaforma che crea alleanze commerciali on line.</span>
    <span class="block text-center text-[0.938rem] font-normal">Ti sei mai domandato quanti passaggi sono necessari per mostrarti un articolo in una vetrina di un negozio?</span>

    <img
      src="assets/images/jointlybuy/jointlybuy-welcome-uno.png"
      class="w-auto h-[6.188rem] object-cover"
    />

    <span class="block text-center text-[0.938rem] font-normal">Produttore, importatore, trasportatore, magazzino, grossista, rappresentante e finalmente il negozio.</span>
    <span class="block text-center text-[0.938rem] font-normal">Hai idea di quanto costano tutti questi passaggi?</span>

    <div class="grid grid-cols-3">
      <div class="col-span-1 flex justify-center items-center">
        <img
          src="assets/images/jointlybuy/jointlybuy-welcome-susto.png"
          class="w-[3.75rem] h-[3.75rem] object-cover"
        />
      </div>
      <div class="col-span-1 flex gap-1 flex-col justify-center items-center">
        <span class="text-[0.938rem] font-normal">In media oltre il</span>
        <span class="text-[1.75rem] font-bold">300%</span>
      </div>
      <div class="col-span-1 flex justify-center items-center">
        <img
          src="assets/images/jointlybuy/jointlybuy-welcome-susto.png"
          class="w-[3.75rem] h-[3.75rem] object-cover"
        />
      </div>
    </div>

    <span class="block text-center text-[0.938rem] font-normal">Perchè non puoi acquistare direttamente la tua vasca idromassaggio dal produttore? Perchè ne dovresti comprare almeno 10 o forse più.</span>
  </div>

  <div class="bg-jointlybuy">
    <img
      src="assets/images/jointlybuy/logo.png"
      class="logo"
    />
    <span class="span-uno">
      Qui arriviamo noi, Scegli il tuo prossimo
      prodotto sui siti dei produttori e non preoccuparti delle quantità minime, a quelle ci pensiamo noi.
    </span>
  </div>
</section>
