.main-container {
  height: 100%;
  --background: transparent
    radial-gradient(closest-side at 50% 50%, #f9d599 0%, #f9b139 100%) 0% 0%
    no-repeat padding-box;

  &__text {
    font-size: 2.25rem;
    font-weight: bold;
    color: #ffffff;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 19.125rem;
      height: 19.438rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ion-button {
      text-transform: none;
      width: 12.563rem;
      height: 3.938rem;
      --border-radius: 2rem;
      --background: #000000;
      --background-activated: #000000;
      --background-focused: #000000;
      --background-hover: #000000;
      --background-activated-opacity: 1;
      --background-focused-opacity: 1;
      --background-hover-opacity: 1;
      --box-shadow: none;
    }
  }
}
