<ion-content>
  <app-map-view></app-map-view>

  <!-- <app-page-action-button icon="qr-code-outline"></app-page-action-button>

  <app-map [position]="position"></app-map>

  <app-slider-nearest-store></app-slider-nearest-store>

  <br />

  <app-invite-card></app-invite-card>

  <br />

  <app-recommendation
    [items]="items"
    (onIonInfinite)="onIonInfinite($event)"
  ></app-recommendation>

  <app-slider-top-pr></app-slider-top-pr> -->

  <!-- <app-professionals></app-professionals> -->
  <!-- <div class="space-bottom"></div> -->
</ion-content>
