<div class="address-card" (dblclick)="editAddress()" [class.address-card--default]="default">

  <div class="address-card__content">
    <div class="address-card__header">
      <span class="address-card__name">{{ address.name }}</span>
      <span class="address-card__phone">{{ address.phoneNumber }}</span>
    </div>
    <span class="address-card__address">
      {{ address.address }}
    </span>
    <span class="address-card__instruction">
      {{ address.deliveryInstructions }}
    </span>
  </div>

  <div class="address-card__actions">
    <span *ngIf="default" class="address-card__badge">Predefinito</span>
    <span *ngIf="name" class="address-card__label">{{ address.nickname }}</span>
    <ion-icon *ngIf="delete" (click)="openModalDeleteAddress(); $event.stopPropagation()" class="address-card__icon" name="address-trash"></ion-icon>
  </div>

</div>
