
<div class="h-screen overflow-auto bg-white p-4">

  <div class="flex flex-col items-center justify-evenly text-center bg-white h-full">
    <div class="relative w-20 h-20 mb-10 mx-auto">
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
      <div class="absolute top-1/2 left-1/2 w-2 h-6 bg-black rounded spinner-bar origin-bottom"></div>
    </div>

    <!-- Mensaje principal -->
    <h1 class="text-xl font-bold mb-4">
      Stiamo elaborando il pagamento
    </h1>

    <!-- Subtexto -->
    <p class="text-base text-black/80">
      Non chiudere questa schermata
    </p>
  </div>

</div>
