<div class="main-container">
  <div
    (click)="modalController.dismiss()"
    class="main-container__top-content"
  ></div>
  <ion-card>
    <ion-card-header>
      <ion-text>
        <span class="main-container__title">{{
          "WALLET.RECHARGE.ADD_CARD" | translate
        }}</span>
        <br />
        <span class="main-container__text">{{
          "WALLET.RECHARGE.INFO_ADD_CARD" | translate
        }}</span>
      </ion-text>
    </ion-card-header>

    <form
      autocomplete="off"
      [formGroup]="formCard"
      (ngSubmit)="createPaymentMewthod()"
    >
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{ "WALLET.RECHARGE.FULL_NAME" | translate }}</ion-label>
            <br />
            <input
              formControlName="name"
              name="name"
              placeholder="{{ 'WALLET.RECHARGE.ENTER_NAME' | translate }}"
              autocomplete="off"
            />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>{{ "WALLET.RECHARGE.EMAIL" | translate }}</ion-label>
            <br />
            <input
              formControlName="email"
              name="email"
              placeholder="{{ 'WALLET.RECHARGE.ENTER_EMAIL' | translate }}"
              autocomplete="off"
            />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>{{
              "WALLET.RECHARGE.CARD_NUMBER" | translate
            }}</ion-label>
            <div
              class="main-container__stripe-element"
              id="card"
              #cardNumber
            ></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8" class="main-container--p-r-20">
            <ion-label>{{
              "WALLET.RECHARGE.DATE_EXPIRED" | translate
            }}</ion-label>
            <div class="main-container__stripe-element" id="exp"></div>
          </ion-col>
          <ion-col size="4">
            <ion-label>{{ "WALLET.RECHARGE.CVV" | translate }}</ion-label>
            <div class="main-container__stripe-element" id="cvc"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="auto">
            <ion-checkbox
              mode="md"
              color="success"
              name="saveCard"
              formControlName="saveCard"
            ></ion-checkbox>
          </ion-col>
          <ion-col size="auto">{{
            "WALLET.RECHARGE.SAVE_FOR_FUTURE" | translate
          }}</ion-col>
        </ion-row>
      </ion-grid>
      <div class="main-container__btn-save">
        <ion-button
          [disabled]="formCard.invalid || formCard.disabled"
          type="submit"
        >
          {{ "WALLET.RECHARGE.SAVE" | translate }}</ion-button
        >
      </div>
    </form>
  </ion-card>
</div>
