<app-header
  #header
  [border]="true"
  [backIcon]="true"
  [modalDismiss]="true"
></app-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="main-container">
    <ion-skeleton-text
      class="main-container__skeleton"
      *ngFor="let country of countries"
      [animated]="true"
    ></ion-skeleton-text>
  </div>

  <div *ngIf="!loading" class="main-container">
    <ion-card class="main-container__text">
      <div class="main-container__text__title">
        <span>{{ "WALLET.MODAL_WITHDRAW_REWARD.TITLE" | translate }}</span>
      </div>
      <ion-text>
        {{ "WALLET.MODAL_WITHDRAW_REWARD.TEXT" | translate }}</ion-text
      >
    </ion-card>

    <ion-card
      class="main-container__card"
      *ngFor="let community of communities; index as i"
    >
      <ion-card-content class="main-container__card__content">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-grid>
                <ion-row>
                  <ion-col size="3" class="center-item"
                    ><img
                      [src]="
                        'assets/images/flags/' + community.countryCode + '.png'
                      "
                      class="main-container__card__flag"
                    />
                  </ion-col>
                  <ion-col size="9" class="main-container--p-l-5">
                    <ion-text>
                      <span class="main-container--f-z-12">{{
                        "Community"
                      }}</span>
                      <br />
                      <span class="main-container--f-z-15">{{
                        community.country
                      }}</span>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="6">
              <ion-grid>
                <ion-row>
                  <ion-col
                    ><ion-text>
                      <span
                        class="main-container--f-z-12 main-container--text-grey"
                      >
                        {{ "COMMUNITY.YOUR_EARNINGS" | translate }}
                        <ion-icon
                          (click)="community.showAtm = !community.showAtm"
                          class="main-container__card_icon-eye"
                          [name]="
                            community.showAtm
                              ? 'eye-off-outline'
                              : 'eye-outline'
                          "
                        ></ion-icon>
                      </span>
                      <br />
                      <span
                        *ngIf="community.showAtm"
                        class="main-container__card__text-pass"
                      >
                        {{
                          checkWithdrawRewardByCountryCode(
                            community.countryCode
                          )
                            ? 0
                            : (community.atm | formattNumber)
                        }}
                        ATM/€
                      </span>
                      <span
                        *ngIf="!community.showAtm"
                        class="main-container__card__text-pass"
                      >
                        {{ "******" }} ATM/€
                      </span>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button
                (click)="withdrawReward(community)"
                class="main-container__card__btn-witdraw"
                expand="block"
                [disabled]="
                  community.totalMenbers === 1 ||
                  community.atm === 0 ||
                  checkWithdrawRewardByCountryCode(community.countryCode)
                "
                >{{
                  (checkWithdrawRewardByCountryCode(community.countryCode)
                    ? "Ritirato"
                    : "WALLET.MODAL_WITHDRAW_REWARD.WITHDRAW"
                  ) | translate
                }}</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="space-bottom"></div>
</ion-content>
