<swiper-container slides-per-view="auto" space-between="10px">
  <swiper-slide *ngFor="let item of categoriesTranslates; let i = index">
    <ion-card (click)="onNavigateCategorie(i)">
      <ion-card-header style="padding: 5px">
        <img
          src="{{ item.img }}"
          alt="{{ item.title }}"
          width="100%"
          height="90px"
        />
      </ion-card-header>

      <ion-card-content>
        <p>
          {{ item.title }}
        </p>
      </ion-card-content>
    </ion-card>
  </swiper-slide>
</swiper-container>
