<section>


  <ion-icon class="w-[4.5rem] h-[4.5rem]" name="check-success-wishbuy"></ion-icon>
  <span class="text-black text-[1.375rem] font-bold">Congratulazioni</span>
  <span class="text-black text-[0.938rem] font-bold">Il tuo wishbuy è stato inviato.</span>
  <span class="text-black text-[0.938rem] font-normal">Ti aggiorneremo a breve sullo stato del tuo wishbuy</span>

  <button class="button bg-[#EF8500] mt-[7rem]" (click)="tornaHome()">Torna a Passaparola</button>
  <button class="button bg-[#22A9E8]" (click)="newWishbuy()">Proponi nuovo wishbuy</button>
</section>
