<img class="h-[8.8125rem] w-[8.8125rem] object-cover" src="https://placehold.co/200x200?text=Product" />
<span class="truncate block">
  <span class="text-[1rem] text-[#EF3131] font-bold">155,99</span>
  <span class="text-[0.625rem] text-[#EF3131] font-bold">€/ATM </span>&nbsp;
  <span class="relative text-[0.625rem] text-[#717171] font-semibold italic before:absolute before:top-1/2 before:left-0 before:w-full before:border-t before:border-gray-400 before:-z-10">150 €/ATM</span>
</span>
<span class="text-[0.75rem] text-[#EF8500] font-bold block">12€ cashback</span>
