<div
  class="flex border-solid border border-[#70707030] items-center bg-white rounded-full h-12 shadow-md w-full"
>
    <div
      class="relative flex border-solid border border-[#70707030] items-center bg-white rounded-full h-12 shadow-md w-full"
    >
      <button
        (click)="selectCategory()"
        class="h-full flex items-center bg-orange-500 text-white px-4 py-2 rounded-full space-x-2"
      >
        <ion-icon name="filter-outline" class="text-white"></ion-icon>
        <span class="text-white text-[18px]">Filtri</span>
      </button>

      <input
        type="text"
        placeholder="Cerca qui..."
        class="flex-1 px-4 py-2 text-gray-700 focus:outline-none w-full"
        [(ngModel)]="searchText"
      />

      <button
        class="flex items-center justify-center h-full aspect-square border-solid border border-[#70707030] p-2 rounded-full bg-white shadow-md"
      >
        <ion-icon
          name="search-outline"
          class="text-orange-500 text-[1.4rem] font-bold"
        ></ion-icon>
      </button>
    </div>
</div>
