<div class="main-container">
  <ion-card>
    <div>
      <ion-card-header>
        <ion-text>
          <ion-icon
            class="main-container--f-z-100"
            name="passaparola-double-check-success"
          ></ion-icon>
          <br />
          <br />
          <br />
          <br />
          <br />
          <span class="main-container--f-w">
            {{ "CONTACT.VERIFIEDD_NUMBER" | translate }}
          </span>
          <br />
          <br />
          <span class="main-container--f-z-14">
            {{ "CONTACT.WE_VERIFIED" | translate }}
          </span>
          <br />
          <span class="main-container--f-z-14">
            {{ "CONTACT.PHONE_NUMBER_2" | translate }}
          </span>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          (click)="backToProfile()"
          type="buton"
          expand="block"
          class="btn-back"
          color="success"
        >
          {{ "CONTACT.BACK_PROFILE" | translate }}
        </ion-button>
      </ion-card-content>
    </div>
  </ion-card>
</div>
