<app-header
  [backIcon]="true"
  [border]="false"
  [modalDismiss]="false"
></app-header>
<ion-content>

  <section class="w-full h-full flex flex-col gap-2">

    <div class="flex flex-row justify-between items-center my-2">
      <span class="text-base font-bold text-[#000000]">Profili di spedizione salvati</span>
      <span class="text-base font-bold text-[#FE8C0F]" routerLink="/pages/address/create-address">+nuovo</span>
    </div>

    <app-address-card
      *ngFor="let address of addresses"
      [address]="address"
      [delete]="!address.defaultAddress!"
      [default]="address.defaultAddress!">
    </app-address-card>

  </section>

</ion-content>
