<div class="grid grid-cols-12 gap-2 p-2 mb-2 w-full border border-solid border-[#E1E1E1] rounded-[.8rem]">

  <img [src]="''| imageEvent" class="col-span-4 aspect-square object-cover rounded-[.938rem] p-1 border border-solid border-[#E1E1E1]"/>
  <div class="col-span-8 flex flex-col justify-between">
    <label class="line-clamp-1">
      Nome completo prodotto che può andare addirittura in due righe
      Nome completo prodotto che può andare addirittura in due righe
      Nome completo prodotto che può andare addirittura in due righe
    </label>

    <div class="flex flex-row gap-2">
      <label class="text-[#000000] font-semibold text-[1.125rem]"><span class="font-[900] text-[1.5rem]">182,99</span>&nbsp;€/ATM</label>
      <label class="italic flex items-end">iva inclusa</label>
    </div>

    <div class="flex flex-row gap-2">
      <label class="font-semibold">cashback <span class="text-[1.1rem] font-[900] text-[#0088FF]">0,1414</span></label>
      <label class="font-semibold">PR <span class="text-[1.1rem] font-[900] text-[#FE8C0F]">0,8299</span></label>
    </div>

    <div class="flex flex-row gap-2">
      <button class="flex justify-center items-center border border-solid border-[#E1E1E1] w-[3rem] text-[1.5rem] rounded-[1.5rem] text-black">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button class="py-2 w-[calc(100%-4rem)] bg-[#FE8C0F] text-white rounded-[3rem] font-bold">+ Aggiungi al carrello</button>
    </div>
  </div>

</div>
