ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  img {
    border-radius: 1.875rem;
  }
}
