<section>

  <div class="grid grid-cols-2 p-4 pb-2">
    <div class="col-span-1">
      <span class="block text-[1rem] font-bold">Galleria</span>
    </div>
    <div class="col-span-1 flex flex-row justify-end items-center gap-1" (click)="viewAllEvent()">
      <span class="text-[0.75rem] text-[#9B9EA7]">Vedi tutto</span>
      <ion-icon class="text-[0.75rem] text-[#9B9EA7]" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>

  <swiper-container
    [loop]="true"
    [slidesPerView]="'auto'"
    [spaceBetween]="10"
    [slidesOffsetBefore]="16"
  >
    <swiper-slide *ngIf="!showDetail && !operativeMode" [style.width.rem]="5.875" (click)="viewAllEvent()">
      <article
        class="flex justify-center items-center h-[8.8125rem] w-[5.875rem] object-cover rounded-[0.625rem] bg-[#E2E2E2] relative">
        <ion-icon name="add-outline"></ion-icon>
      </article>
    </swiper-slide>
    <swiper-slide
      *ngFor="let image of gallery"
      [style.width.rem]="5.875"
    >
      <img class="h-[8.8125rem] w-[5.875rem] object-cover rounded-[0.625rem]" [src]="image" />
    </swiper-slide>
  </swiper-container>


</section>
