<section class="flex flex-col justify-center items-center h-full">
  <section
    class="flex flex-col justify-center items-center bg-[#E3E3E9] h-[88px] w-[88px] rounded-full text-[#33B7E8]"
  >
    <ion-icon class="w-[60px] h-[60px]" name="passaparola-money"></ion-icon>
  </section>
  <section class="text-[22px] leading-[30px] font-bold mt-[20px]">
    Attualmente hai
  </section>
  <section
    class="text-[54px] leading-[64px] font-bold text-[#33B7E8] mt-[10px]"
  >
    0,00
  </section>
  <section class="text-[28px] leading-[38px]">€/ATM</section>
  <section class="text-[18px] leading-[24px]">in compensazione</section>
  <section class="text-[18px] leading-[24px]">
    Prossima data compensazione
  </section>
  <section class="text-[18px] leading-[24px] font-bold">30/06/2024</section>
  <section
    class="bg-[#33B7E8] text-white text-[15px] leading-[22px] py-[20px] px-[40px] mt-[20px] rounded-[34px] text-center"
  >
    {{ "Cambia Data" | translate }}<br />
  </section>
</section>
