ion-card {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: transparent;
  height: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 0.25rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.25rem solid #fe8c0f;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
