<section class="w-full h-full p-8 flex flex-col items-center justify-center gap-4">

  <ion-icon
    class="text-[6rem]"
    name="passaparola-check-blue"
  ></ion-icon>


  <div class="w-full flex flex-col gap-3 text-center">
    <span class="font-bold text-[1.313rem]">Congratulazioni</span>
    <span class="font-medium text-[0.875rem]">
      La tua richiesta è stata ricevuta.<br>
      Ti invieremo una mail di conferma<br>
      appena l'attivazione sarà avvenuta.
    </span>
  </div>


  <button routerLink="/main" class="w-[12.313rem] h-[2.625rem] bg-[#116DE5] rounded-[1.313rem] text-white text-[0.875rem]">
    Torna alla Home
  </button>

</section>
