<ion-content>

  <section class="contenedor">

    <button
      (click)="close()"
      class="
        absolute top-0 right-[20px] translate-y-[-50%] w-[40px] h-[40px]
        rounded-full font-bold text-[1.5rem] text-[#9AA1B3] border-solid border border-[#9AA1B3] bg-[#E3E3E9]
        flex items-center justify-center">x</button>


    <div class="h-full flex flex-col mt-[20px] p-[20px] justify-evenly text-center">

      <div class="mx-auto w-[6rem] h-[6rem] rounded-[3rem] bg-[#FFCC00] flex items-center justify-center">
        <img src="assets/images/events/custom-icons/star.png" class="w-[3rem] aspect-square">
      </div>
      <label class="text-[24px] font-semibold">Complimenti!</label>
      <p class="text-[18px]">
        Stai riattivando la tua offerta precedentemente sospesa. <br><br>
        Ti auguriamo di vendere tutti i tuoi voucher, se hai bisogno del nostro supporto per creare delle campagne marketing personalizzate scrivici a <br><br>
        <span class="font-bold text-[#812CE3]">twaper&#64;passaparola.email</span>
      </p>
      <div (click)="aceptar()" class="bg-[#35B726] font-bold text-[20px] text-white w-[90%] h-[5rem] rounded-[3rem] flex justify-center items-center mx-auto">Conferma Attivazione</div>
      <label class="font-bold text-[18px] text-[#9E9C9C]">Annulla</label>

    </div>
  </section>

</ion-content>
