.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;

  img {
    width: 100%;

    @media (min-height: 350px) {
      width: 25rem;
    }
  }
}
