
<ion-menu
  *ngIf="paramsLoaded && !isPublic && !showDetail"
  type="push"
  menuId="main-menu"
  contentId="profile-content"
  swipe-gesture="false"
>
  <app-menu></app-menu>
</ion-menu>
<div id="profile-content" class="w-full h-full">
  <app-header
    [backIcon]="!isPublic"
    [buttonMenu]="!showDetail"
    [border]="true">
  </app-header>
  <ion-content>
    <ion-refresher
      *ngIf="!isPublic"
      slot="fixed"
      (ionRefresh)="handleRefresh($event)"
      pullFactor="0.5"
      pullMin="100"
      pullMax="200">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>


    <!-- SKELETON -->
    <ng-container *ngIf="isLoading">
      <div class="profile-skeleton">

        <div class="profile-skeleton__header">
          <ion-skeleton-text animated class="profile-skeleton__avatar"></ion-skeleton-text>
          <div class="profile-skeleton__info">
            <ion-skeleton-text animated class="profile-skeleton__name"></ion-skeleton-text>
            <ion-skeleton-text animated class="profile-skeleton__username"></ion-skeleton-text>
            <div class="profile-skeleton__stats">
              <ion-skeleton-text animated class="profile-skeleton__stat"></ion-skeleton-text>
              <ion-skeleton-text animated class="profile-skeleton__stat"></ion-skeleton-text>
              <ion-skeleton-text animated class="profile-skeleton__stat"></ion-skeleton-text>
            </div>
          </div>
        </div>

        <div class="profile-skeleton__actions">
          <ion-skeleton-text animated class="profile-skeleton__action profile-skeleton__action--wide"></ion-skeleton-text>
          <ion-skeleton-text animated class="profile-skeleton__action"></ion-skeleton-text>
          <ion-skeleton-text animated class="profile-skeleton__action"></ion-skeleton-text>
        </div>

        <div class="profile-skeleton__grid">
          <ion-skeleton-text
            animated
            class="profile-skeleton__post"
            *ngFor="let i of [1,2,3,4,5,6]">
          </ion-skeleton-text>
        </div>

      </div>
    </ng-container>

    <!-- CONTENIDO REAL -->
    <ng-container *ngIf="!isLoading">

      <app-header-profile
        [followers]="followers"
        [isPublic]="isPublic"
        [mutual]="mutual"
        (clickButton)="clickButton($event)"
        (editButton)="editButton($event)">
      </app-header-profile>

      <app-profile-feed
        (selectTabFeed)="viewFeedTabs($event)"
        [isPublic]="isPublic"
        [myPosts]="myPosts"
        [postsFeedLikes]="postsFeedLikes"
        [postsFeedSaveds]="postsFeedSaveds">
      </app-profile-feed>

      <ion-infinite-scroll
        *ngIf="tabFeed === 'feed'"
        (ionInfinite)="loadMore($event)"
        threshold="100px"
        [disabled]="!hasMore || isPublic">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <ion-infinite-scroll
        *ngIf="tabFeed === 'like'"
        (ionInfinite)="loadMoreLike($event)"
        threshold="100px"
        [disabled]="!hasMoreLike || isPublic">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <ion-infinite-scroll
        *ngIf="tabFeed === 'saved'"
        (ionInfinite)="loadMoreSaved($event)"
        threshold="100px"
        [disabled]="!hasMoreSaved || isPublic">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <ion-infinite-scroll
        *ngIf="tabFeed === 'shared'"
        (ionInfinite)="loadMoreShared($event)"
        threshold="100px"
        [disabled]="!hasMoreShared || isPublic">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ng-container>

  </ion-content>


  <ion-fab
    *ngIf="!showDetail && !isPublic"
    (click)="createSocialTag()"
    horizontal="end"
    vertical="bottom"
    slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</div>
