<app-header [backIcon]="true" [border]="true"></app-header>
<ion-content>

  <section class="calculator">

    <!-- Header Section -->
    <section class="calculator__header">
      <span class="calculator__title">
        Con Passaparola paghi<br>
        anche le bollette
      </span>
      <span class="calculator__subtitle">
        Paga le bollette di luce e gas con Passaparola,<br>
        ricevi cashback. Se vuoi, attiva l'opzione senza<br>
        pensieri e ci occuperemo di garantirti il miglior<br>
        gestore per le tue esigenze.
      </span>

      <ion-icon
        class="calculator__icon"
        name="passaparola-headphone"
      ></ion-icon>
    </section>

    <!-- Main Content -->
    <section class="calculator__content">
      <div class="calculator__card">

        <span class="calculator__card-title">
          Le migliori offerte per te
        </span>

        <!-- Upload Bill Section - Solo visible si NO se ha solicitado análisis -->
        <div
          *ngIf="!analysisRequested"
          class="calculator__upload"
          [class.calculator__upload--loading]="loadingBill"
          [class.calculator__upload--uploaded]="billUploaded"
          [style.background-image]="billUploaded ? 'url(' + urlBill + ')' : 'none'"
          (click)="uploadBillImage()"
        >
          <ng-container *ngIf="!billUploaded && !loadingBill">
            <span class="calculator__upload-text">
              Per esaminare le migliori offerte <br> carica la tua ultima bolletta
            </span>

            <ion-icon
              class="calculator__upload-icon"
              name="cloud-upload-outline"
            ></ion-icon>

            <div class="calculator__upload-info">
              <span class="calculator__upload-info-main">clicca qui per caricare</span>
              <span class="calculator__upload-info-sub">(PNG, JPG, MAX 10 MB)</span>
            </div>
          </ng-container>

          <ng-container *ngIf="loadingBill">
            <ion-icon class="calculator__upload-icon calculator__upload-icon--loading" name="reload-outline"></ion-icon>
            <span class="calculator__upload-text">Caricamento...</span>
          </ng-container>

          <ng-container *ngIf="billUploaded && !loadingBill">
            <div class="calculator__upload-overlay">
              <ion-icon class="calculator__upload-check" name="checkmark-circle"></ion-icon>
              <span class="calculator__upload-success">Documento caricato</span>
            </div>
          </ng-container>
        </div>

        <!-- Countdown Section - Solo visible cuando se solicitó análisis -->
        <div
          *ngIf="analysisRequested"
          class="calculator__countdown"
        >
          <span class="calculator__countdown-text">
            Abbiamo ricevuto il suo <br>
            documento. Elaboreremo la <br>
            migliore offerta entro 72h.
          </span>

          <div class="calculator__countdown-timer">
            <div class="calculator__countdown-box">
              <span class="calculator__countdown-number">{{ hours }}</span>
              <span class="calculator__countdown-label">ore</span>
            </div>
            <div class="calculator__countdown-box">
              <span class="calculator__countdown-number">{{ minutes }}</span>
              <span class="calculator__countdown-label">minuti</span>
            </div>
            <div class="calculator__countdown-box">
              <span class="calculator__countdown-number">{{ seconds }}</span>
              <span class="calculator__countdown-label">secondi</span>
            </div>
          </div>
        </div>

        <!-- Form Section -->
        <form [formGroup]="analysisForm" class="calculator__form">
          <label class="calculator__checkbox">
            <input
              type="checkbox"
              formControlName="acceptTerms"
              class="calculator__checkbox-input"
              [disabled]="analysisRequested"
            >
            <span class="calculator__checkbox-label">
              Attivo <b>"SENZA PENSIERI"</b> per ottenere l'offerta più <br>
              adatta alle mie esigenze e accetto <b>Termini e Condizioni</b>
            </span>
          </label>
          <div *ngIf="hasError('acceptTerms')" class="calculator__error">
            {{ getErrorMessage('acceptTerms') }}
          </div>

          <button
            type="button"
            (click)="requestAnalysis()"
            [disabled]="analysisRequested"
            class="calculator__submit-btn"
            [class.calculator__submit-btn--disabled]="analysisRequested"
          >
            {{ analysisRequested ? 'Richiesta inviata' : 'Richiedi analisi gratuita' }}
          </button>
        </form>

      </div>
    </section>

    <!-- Schedule Section -->
    <section class="calculator__schedule" [formGroup]="analysisForm">
      <span class="calculator__schedule-title">
        <b>Devi fare una voltura o una nuova attivazione?</b> <br>
        Ti chiamiamo noi, invia la richiesta
      </span>
      <span class="calculator__schedule-subtitle">In che orario preferisci essere contattato?</span>

      <ion-radio-group
        formControlName="schedule"
        class="calculator__radio-group"
      >
        <ion-radio value="09-13" labelPlacement="end" [disabled]="analysisRequested">09-13</ion-radio>
        <ion-radio value="13-15" labelPlacement="end" [disabled]="analysisRequested">13-15</ion-radio>
        <ion-radio value="15-19" labelPlacement="end" [disabled]="analysisRequested">15-19</ion-radio>
      </ion-radio-group>
      <div *ngIf="hasError('schedule')" class="calculator__error">
        {{ getErrorMessage('schedule') }}
      </div>
    </section>

  </section>

</ion-content>
