.btn-close {
  position: fixed;
  font-size: 24px;
  top: 0;
  right: 5px;
  width: 35px;
  height: 35px;
  --border-radius: 60px;
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;
  --background: #fe8500;
  --background-activated: #fe8500;
  --background-activated-opacity: #fe8500;
  --background-focused: #fe8500;
  --background-focused-opacity: #fe8500;
  --background-hover: #fe8500;
  --background-hover-opacity: #fe8500;

  ion-icon {
    font-size: 24px;
  }
}

.hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

input:focus {
  outline: none;
}
