.main-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  &__card {
    margin: 1.875rem;
    background: transparent;
    box-shadow: none;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &__title {
      font-size: 25px;
      font-weight: bold;
      color: #ffffff;
    }

    img {
      width: 7.125rem;
      height: 7.125rem;
      border-radius: 0.75rem;
    }
  }

  &__content {
    text-align: center;

    span {
      color: #ffffff;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
      width: 11.625rem;
      height: 3.125rem;
      color: #ef8500;
      text-transform: none;
      --border-radius: 1.563rem;
      --background: #ffffff;
      --background-activated: #ffffff;
      --background-activated-opacity: #ffffff;
      --background: #ffffff;
      --background: #ffffff;
      --background: #ffffff;
      --background: #ffffff;
    }
  }

  &--f-z-16 {
    font-size: 16px;
  }

  &--f-w-b {
    font-weight: bold;
  }
}
