<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('1')"
>
  1
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('2')"
>
  2
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('3')"
>
  3
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('4')"
>
  4
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('5')"
>
  5
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('6')"
>
  6
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('7')"
>
  7
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('8')"
>
  8
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('9')"
>
  9
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('.')"
>
  ,
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[42px] leading-[57px] font-semibold cursor-pointer bg-white"
  (click)="inputValue('0')"
>
  0
</article>
<article
  class="flex justify-center items-center h-[70px] w-[70px] shadow-md shadow-gray-300 rounded-[15px] text-[34px] leading-[57px] font-semibold cursor-pointer"
  (click)="erase()"
>
  <ion-icon name="backspace"></ion-icon>
</article>
