<section
  class="flex flex-col py-[50px] px-[10px] bg-[#F9F9F9] h-full"
  style="overflow: auto"
>
  <section class="flex flex-row justify-between items-center mb-[8px] gap-3">
    <article class="text-[20px] leading-[27px] font-bold">
      {{ "GENERAL.ORDER_BY" | translate }}
    </article>
    <article
      class="rounded-[7px] px-[20px] py-[10px] bg-[#35B726] font-bold whitespace-nowrap"
    >
      {{ "SEAT.CHOOSE_SEAT" | translate }}
    </article>
  </section>
  <section
    *ngFor="let seat of seats"
    class="flex flex-row justify-between items-center px-[18px] py-[18px] rounded-[12px] text-[18px] leading-[29px] font-semibold mt-[12px]"
    [ngClass]="{
      'bg-white text-black': seat.id !== this.seatSelected?.id,
      'bg-[#35B726] text-white': seat.id === this.seatSelected?.id
    }"
    (click)="onSelectedSeat(seat)"
  >
    <article class="uppercase">{{ seat.name }}</article>
    <article class="flex flex-row items-center">
      <article class="text-[12px] leading-[15px] mt-[4px] mr-[4px]">€</article>
      {{
        seat.wallet
          ? seat.wallet.balance
          : (0 | formattNumber : "EUR" : "symbol" : "it" : 2)
      }}
    </article>
  </section>
</section>
