<section
  class="bg-[#F9F9F9] rounded-[0.8125rem] p-2"
>
  <section class="flex flex-row items-center">
    <img
      class="h-[2.625rem] w-[2.625rem] object-cover rounded-full"
      src="https://placehold.co/20x20?text=Profile"
    />
    <section class="ml-[0.3125rem]">
      <section class="text-[0.875rem] leading-[1.0625rem] font-semibold">
        Nome
      </section>
      <section class="text-[0.75rem] leading-[0.75rem] italic text-[#bbbbbb]">
        data
      </section>
    </section>
  </section>
  <section class="flex flex-row mt-[.5rem]">
    <img
      class="h-[8.8125rem] w-[5.875rem] object-cover rounded-[0.625rem]"
      src="https://placehold.co/200x200?text=Review"
    />
    <section class="pl-[0.9375rem] pt-[0.9375rem]">
      <section class="flex text-[1.125rem] gap-[0.1875rem] text-[#cdcecf]">
        <ion-icon name="passaparola-profile-star"></ion-icon>
        <ion-icon name="passaparola-profile-star"></ion-icon>
        <ion-icon name="passaparola-profile-star"></ion-icon>
        <ion-icon name="passaparola-profile-star"></ion-icon>
        <ion-icon name="passaparola-profile-star"></ion-icon>
      </section>
      <section class="text-[0.75rem] leading-[1.25rem] text-[#575A61] line-clamp-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus exercitationem dolor qui voluptas. Enim, nesciunt perspiciatis reprehenderit praesentium pariatur obcaecati unde explicabo delectus assumenda, excepturi nisi totam iusto magnam? Odit?
      </section>
    </section>
  </section>
</section>
