.col-title {
  margin: 0rem .5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  &__price {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
}

.b-g {
  border: 0.1rem solid #3cc3a2 !important;
}

.row-card-payment-method {
  &__card {
    border-radius: 1.2rem;
    border: 0.1rem solid #D5D4D4;
    margin: 0rem;
  }
  &__content {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1.2rem;
    &--check {
      color: #3cc3a2;
      font-size: 2rem;
      right: 1rem;
      bottom: 1rem;
      position: absolute;
    }
    &--imgpayment {
      font-size: 5rem;
      box-shadow: 0 .188rem .375rem #00000080;
      border-radius: 0.6rem;
    }
    &--content--text {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      &--label1 {
        font-size: 1.1rem;
        font-weight: 600;
        color: black;
      }
      &--label2 {
        font-size: 0.9rem;
        font-weight: 500;
        color: #6C757D;
        display: flex;
        p {
          font-weight: bold;
        }
      }
      &--label3 {
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        justify-content: left;
        align-items: end;
        color: #3cc3a2;
        gap: 0.3rem;
        p {
          color: #3cc3a2;
          margin: 0px !important;
        }
      }
    }
  }
}

.buttons {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: .5rem;
  margin: 0;
  width: 100%;
  &__button-acept {
    background: #FF9100;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 70%;
    height: 3.5rem;
    border-radius: 2rem;
  }
  &__button-acept:disabled{
    opacity: 0.5;
  }
}

ion-toolbar {
  --background: white;
}
