<ion-card class="card">
  <ion-card-content class="card__content">
    <ion-text>
      <ion-icon class="card__content__icon" name="alert-circle"></ion-icon>
      <br />
      <span class="card__content__title">{{
        "SCAN_NFC.ACTIVATE_YOUR_NFC" | translate
      }}</span>
      <br />
      <br />
      <span class="card--f-z-18">{{
        "SCAN_NFC.MOVE_PHONE_TO_NFC" | translate
      }}</span>
      <br />
      <br />
      <span class="card--f-z-18">{{ "SCAN_NFC.ENABLED_NFC" | translate }}</span>
    </ion-text>
    <br />
    <br />
    <div class="card__img">
      <img src="assets/images/nfc-divice-logo.jpg" alt="NFC divice" />
    </div>
  </ion-card-content>
</ion-card>
